* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 991px;
  margin: 0 auto;
  padding: 0 1rem;
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card {
  height: auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;

  img {
    aspect-ratio: 16/9;
    border-radius: 8px 8px 0 0;
    transition: all 0.4s ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__details {
    padding: 0.5rem 0.75rem;

    h2 {
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 0.875rem;
      font-weight: 400;
      margin-bottom: 0.25rem;
      line-height: normal;
    }
    a {
      text-decoration: none;
      color: #000;
      font-size: 0.875rem;
      transition: font-weight 0.2s linear;

      &:hover {
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
}
