header {
  @include position(relative, 0, 0);

  nav {
    @include height_width(80px, 100%);
    @include flex-box(space-between, center);
    padding: 0.5rem;
    border-bottom: 1px solid #f2f2f2;

    h3 {
      text-transform: capitalize;
      @include typography(1.5rem, 600);
      a {
        text-decoration: none;
        color: $clr_black;
      }
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      a {
        text-decoration: none;
        @include typography(1rem, 500);
        padding: 0.5rem 1rem;

        background-color: $clr_black;
        color: $clr_white;
        border-radius: 20px;
        transition: all 0.5s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: $clr_white;
          border: 1.25px solid rgba(0, 0, 0, 0.3);
          color: $clr_black;
        }
      }
    }
  }
}

main {
  margin-bottom: 1rem;
  padding: 1rem 0;
}
