<section class="blog_cards">

    <div class="card">
        <figure class="card__img">
            <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
                alt="image" class="img-fluid">
        </figure>
        <div class="card__details">
            <h2 class="card__title">Heading 1</h2>
            <p class="card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum aspernatur nam
                sequi,
                beatae corrupti nesciunt?</p>
            <a href="/blog">Read More </a>
        </div>
    </div>


</section>