<%- include("./head.ejs") %>
    <div class="container">
        <%- include("./header.ejs") %>

            <main>
                <article class="blog_details">
                    <figure class="post-image">
                        <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
                            alt="image" class="img-fluid">
                    </figure>
                    <h1 class="post-title"> The Rise of Sustainable Fashion: A Greener Future for Style</h1>

                    <p class="post-content">
                        In a world where climate change and environmental conservation are at the forefront of global
                        concerns, the fashion industry has been undergoing a significant transformation. The concept of
                        sustainable fashion has gained immense traction, revolutionizing the way we think about clothing
                        and its impact on our planet. In this article, we'll delve into the exciting developments in
                        sustainable fashion and how it is shaping a greener future for style.
                    </p>

                    <small class="post-date">Posted on september 20,2023</small>


                </article>
            </main>
    </div>
    <%- include("./footer.ejs")%>