<%- include("components/head.ejs")%>
    <div class="container">
        <%- include("components/header.ejs")%>

            <main>

                <%- include("components/blog_cards.ejs") %>

            </main>
    </div>
    <%- include("components/footer.ejs")%>