<%- include("../head.ejs")%>

    <div class="container-fluid">
        <%-include ("sidebar.ejs")%>

            <div class="view_blogs">
                <h3>View all blogs</h3>
                <hr>

                <%- include("view_cards.ejs") %>
            </div>

    </div>