<aside>
    <nav>
        <h3><a href="/dashboard">Dashboard</a></h3>
        <ul>
            <li><span class="material-icons md-18">post_add</span><a href="/create">Add Blog</a></li>
            <li><span class="material-icons md-18">view_list</span><a href="/view">View Blog</a></li>
            <li><span class="material-icons md-18">logout</span><a href="/">Log out</a></li>
        </ul>
    </nav>
</aside>