<%- include("../head.ejs") %>
    <div class="container">
        <%- include("../header.ejs")%>

            <section class="account_form">
                <form class="form">
                    <h3>Account Login</h3>
                    <div class="form__group">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form__group">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit">Sign in</button>
                    <p>don't have an account?<a href="/register">sign up</a></p>
                </form>

            </section>
    </div>

    <%- include("../footer.ejs") %>;