<%- include("../head.ejs") %>
    <div class="container">
        <%- include("../header.ejs")%>

            <section class="account_form">
                <form class="form">
                    <h3>Create account</h3>
                    <div class="form__group">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form__group">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form__group">
                        <input type="password" name="confirmpassword" placeholder="Confirm Password">
                    </div>
                    <button type="submit">Sign up</button>
                    <p>have an account?<a href="/login">sign in</a></p>
                </form>

            </section>
    </div>

    <%- include("../footer.ejs") %>;